.project_nav{
    width: 100%;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    background-color: #F5F2E9;
}
.nav_right, .nav_account{
    display: flex;
}
.nav_serch input{
    width: 300px;
    height: 40px;
    margin-left: 230px;
    padding: 10px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #ffffff;
}
.account_photo{
    width: 40px;
    height: 40px;
}
.nav_logout{
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffffff;
}
.nav_logout:hover{
    background-color: #aeaeae;
}
.logout_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #454545;
}
.account_photo{
    margin-right: 10px;
}
.account_text{
    margin: auto;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #454545;
}